<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>org.restkit.RestKit</string>
	<key>CFBundleName</key>
	<string>RestKit Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>0.10.1</string>
	<key>CFBundleVersion</key>
	<string>0.10.1</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>RestKit Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>org.restkit.documentation</string>
	<key>DocSetPublisherName</key>
	<string>RestKit</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 RestKit. All rights reserved.</string>
</dict>
</plist>
