<%- model_class = Prospy.new.class -%>
<h1>Prospective Students</h1>
<%= render 'index' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_prospy_path,
            :class => 'btn btn-primary' %>
